.project-details {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.project-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.project-header h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

.delete-button {
  background-color: #f44336; /* Color rojo para el botón de eliminar */
  border-radius: 50%;
  padding: 8px;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.project-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
}

.project-slider {
  margin-top: 20px;
}

.slider-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
